.btn {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 6rem;
    height: 6rem;
    background: $school-bus-yellow;
    text-transform: uppercase;
}