html,
body {
    // setting up nice font size for REM calculations
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

h2 {
    margin: 5rem 0;
    font-size: 3rem;
    line-height: 1.3em;
    text-transform: uppercase;
}

h3 {
    font-size: 3rem;
    line-height: 1.3em;
}

p {
    margin: 2rem 0;
    font-size: 1.7rem;
    line-height: 1.35em;
}

.container {
    margin: 0 auto;
    padding: 3.5rem 1.5rem;
    max-width: 120rem;

    @include bp(SM) {
        padding: 6rem 6.5rem;
    }
}