.heading {
    font-size: 3rem;

    &--small {
        font-size: 2.3rem;
    }
}

.subHeading {
    font-size: 2.2rem;

    &--large {
        font-size: 3rem;
    }

    & > a {
        color: inherit;
        text-decoration: none;
    }
}